<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Affinity</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/classic.min.css" /> <!-- 'classic' theme -->
    <link rel="stylesheet" href="~/css/monolith.min.css" /> <!-- 'classic' theme -->
    <link rel="stylesheet" href="~/css/nano.min.css" /> <!-- 'classic' theme -->
    <style>
        [v-cloak] {
            display: none;
            opacity: 0;
        }
    </style>
    @RenderSection("Styles", required: false)
</head>
<body>
    <div id="app">
        <header>
            <div class="logo"><a href="/">Affinity</a></div><nav class="navigation">
                <ul class="navigation-menu">
                    <li class="navigation-menuItem"><a class="navigation-menuLink" href="/graphs">Graphs</a></li>
                    <li class="navigation-menuItem"><a class="navigation-menuLink" href="/about">About</a></li>
                    <li class="navigation-menuItem" v-if="user === null">
                        <a class="navigation-menuLink" asp-area="" asp-controller="Affinity" asp-action="Login">Login</a>
                    </li>
                    <li class="navigation-menuItem" v-if="user === null"><a class="navigation-menuLink" href="/login">Sign up</a></li>
                    <li class="navigation-menuItem sign-out-button" v-if="user" id="sign-out">
                        <button type="button" class="navigation-menuLink" v-on:click="signOut">Sign Out</button>
                    </li>
                </ul>
            </nav>
        </header>
        <main role="main">
            @RenderBody()
        </main>
        <footer>
            <div class="container">
                Made by Team Affinity - <a asp-area="" asp-controller="Affinity" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
    </environment>
    <environment exclude="Development">
    </environment>
    <script src="~/js/vue.js"></script>

    @RenderSection("Scripts", required: false)

</body>

</html>
