@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<!DOCTYPE html>
<html>

<script>
    @{
        var timeout = Convert.ToDouble(Configuration.GetSection("Timeout")["Duration"]);
    }

    //Code from jprochazka, i modified it to fit my needs.
    //https://forums.asp.net/t/1899214.aspx?If+no+activity+for+15+minutes+display+an+alert+on+web+page+and+then+either+continue+or+logout

    var timeoutWarning = (@timeout - 1) * 60 * 1000;
    var timeoutFinalAction = @timeout * 60 * 1000;
    var countDown = 59;

    var timeoutTimer;
    var warningTimer;
    var countDownTimer;

    // Start timers.
    function StartTimers() {
        warningTimer = setTimeout("IdleWarning()", timeoutWarning);
        timeoutTimer = setTimeout("IdleTimeout()", timeoutFinalAction);
    }

    // Reset timers.
    function ResetTimers() {
        clearTimeout(warningTimer);
        clearTimeout(timeoutTimer);
        clearInterval(countDownTimer);
        countDown = 59;
        StartTimers();
        //$('#timeout').modal('hide');
        //$('#time').text("60");
    }

    // Show idle timeout warning dialog.
    function IdleWarning() {
        //$("#timeout").modal('show');
        //Sets the text of the time on the modal to reflect the countdown.
        //countDownTimer = setInterval(function () { $('#time').text(countDown); countDown--; }, 1000);

        console.log("Countdown started...");
    }

    // Logout the user.
    function IdleTimeout() {
        console.log("Signed out since session expired");

        firebase.auth().signOut().then(function () {
            // Successfully signed out.
            document.cookie = "aff_t=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        }).catch(function (error) {
            // An error happened.
        });

        window.location = "/";
    }

</script>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Affinity</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/classic.min.css" /> <!-- 'classic' theme -->
    <link rel="stylesheet" href="~/css/monolith.min.css" /> <!-- 'classic' theme -->
    <link rel="stylesheet" href="~/css/nano.min.css" /> <!-- 'classic' theme -->
    <style>
        [v-cloak] {
            display: none;
            opacity: 0;
        }
    </style>
    @RenderSection("Styles", required: false)
</head>
<body onload="StartTimers();" onmousemove="ResetTimers();">
    <div id="app">
        <header>
            <div class="logo"><a href="/">Affinity</a></div><nav class="navigation">
                <ul class="navigation-menu">
                    <li class="navigation-menuItem"><a class="navigation-menuLink" href="/graphs">Graphs</a></li>
                    <li class="navigation-menuItem"><a class="navigation-menuLink" href="/about">About</a></li>
                    <li class="navigation-menuItem" v-if="user === null">
                        <a class="navigation-menuLink" asp-area="" asp-controller="Affinity" asp-action="Login">Login</a>
                    </li>
                    <li class="navigation-menuItem" v-if="user === null"><a class="navigation-menuLink" href="/login">Sign up</a></li>
                    <li class="navigation-menuItem " v-if="user" id="sign-out">
                        <button type="button" class="navigation-menuLink sign-out-button" v-on:click="signOut">Sign Out</button>
                    </li>
                </ul>
            </nav>
        </header>
        <main role="main">
            @RenderBody()
        </main>
        <footer class="directory">
            <div class="directory-links">
                <h2>Affinity</h2>
                <a href="/">Home</a>
                <a href="/graphs">Graphs</a>
                <a href="/about">About</a>
            </div><p class="directory-about">
                Made by <a href="/about">Team Affinity</a> for CS 4800 at Cal Poly Pomona
            </p>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/vue.js"></script>

    @RenderSection("Scripts", required: false)

</body>

</html>
