
@model IEnumerable<Author>
@{
    ViewBag.Title = "Authors";
}
<h1>@ViewBag.Title</h1>
<ul>
    @foreach (var author in Model)
    {
        <li>@author.FirstName @author.LastName</li>
    }
</ul>
<div>@Html.ActionLink("New", "create")</div>

