@{
    ViewData["Title"] = "About";
}

@section styles {
}

    <section class="about">
        <h2 class="about-title">Graphing our own way</h2>
        <p class="about-description">For our Software Engineering class at Cal Poly Pomona, we set out to build a better online graph editor. Making and customizing graphs should be easy.
         Our team:</p>
        <ul class="team-list">
            <li class="team-member">Kiana Ziglari</li>
            <li class="team-member">Bryce Callender</li>
            <li class="team-member">Jordan Laidig</li>
            <li class="team-member">Thinh Nguyen</li>
            <li class="team-member">Samuel Foster</li>
        </ul>
    </section>


@section scripts {
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script type="text/javascript" src="https://www.gstatic.com/firebasejs/6.6.2/firebase-app.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/firebasejs/6.6.1/firebase-auth.js"></script>
    <script type="text/javascript" src="~/js/FIREBASE_CONFIG.js"></script>
    <script type="text/javascript" src="~/js/firebase.js"></script>
    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Start graphing today.',
                user: false
            },
            created: function () {
                // Store user
                firebase.auth().onAuthStateChanged(user => {
                    this.user = user;
                });
            },
            methods: {
                signOut: function (event) {
                    if (this.user) {
                        firebase.auth().signOut().then(function () {
                            // Successfully signed out.
                            document.cookie = "aff_t=; Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                        }).catch(function (error) {
                            // An error happened.
                        });
                        window.location.reload(true); // refresh page
                    }
                }
            }
        })
    </script>
}
