@{
    ViewData["Title"] = "About Affinity";
}

@section styles {
    <style>
        p {
            color: blue;
        }
    </style>
}

<h1>@ViewData["Title"]</h1>
<p>{{ message }}</p>
<p>We are a group of College students who have fun with graphs.</p>


@section scripts {
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script type="text/javascript" src="https://www.gstatic.com/firebasejs/6.6.2/firebase-app.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/firebasejs/6.6.1/firebase-auth.js"></script>
    <script type="text/javascript" src="~/js/FIREBASE_CONFIG.js"></script>
    <script type="text/javascript" src="~/js/firebase.js"></script>
    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Start graphing today.',
                user: false
            },
            created: function () {
                // Store user
                firebase.auth().onAuthStateChanged(user => {
                    this.user = user;
                });
            },
            methods: {
                signOut: function (event) {
                    if (this.user) {
                        firebase.auth().signOut().then(function () {
                            // Successfully signed out.
                            document.cookie = "aff_t=";
                        }).catch(function (error) {
                            // An error happened.
                        });
                        window.location.reload(true); // refresh page
                    }
                }
            }
        })
    </script>
}
