@{
    ViewData["Title"] = "Home Page";
}

@section styles {
    <style>
        p { color: blue; }
    </style>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> {{ message }} </p>
</div>

@section scripts {
    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!'
            }
        })
    </script>
}

