@{
    ViewData["Title"] = "Home Page";
}

@section styles {

}

<section class="cta">
    <h2 class="cta-callout">Make graphs online</h2>
    <p class="cta-description">Use our editor to make and export beautiful graphs.</p>
    <button class="cta-action">Graph now</button>
</section>
<section class="features">
    <h2 class="hidden">Features</h2>
    <div class="feature">
        <div class="feature-visual">
            <img src="https://images.pexels.com/photos/2835436/pexels-photo-2835436.jpeg?auto=compress" class="feature-image" width="50px" height="50px" />
        </div><div class="feature-text">
            <h3 class="feature-name">Create graphs with ease</h3>
            <p class="feature-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
    <div class="feature clearfix">
        <div class="feature-visual">
            <img src="https://images.pexels.com/photos/2835436/pexels-photo-2835436.jpeg?auto=compress" class="feature-image" width="50px" height="50px" />
        </div><div class="feature-text">
            <h3 class="feature-name">Save and return to graphs</h3>
            <p class="feature-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
    <div class="feature">
        <div class="feature-visual">
            <img src="https://images.pexels.com/photos/2835436/pexels-photo-2835436.jpeg?auto=compress" class="feature-image" width="50px" height="50px" />
        </div><div class="feature-text">
            <h3 class="feature-name">Export to PDF and PNG</h3>
            <p class="feature-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
</section>
<section class="team">
    <h2 class="team-callout">Curious?</h2>
    <p class="team-description">Learn more about Affinity and the team building it.</p>
    <a class="team-action" href="/about">Read more</a>
</section>

@section scripts {
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script type="text/javascript" src="https://www.gstatic.com/firebasejs/6.6.2/firebase-app.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/firebasejs/6.6.1/firebase-auth.js"></script>
    <script type="text/javascript" src="~/js/FIREBASE_CONFIG.js"></script>
    <script type="text/javascript" src="~/js/firebase.js"></script>
    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Start graphing today.',
                user: false
            },
            created: function () {
                // Store user
                firebase.auth().onAuthStateChanged(user => {
                    this.user = user;
                });
            },
            methods: {
                signOut: function (event) {
                    if (this.user) {
                        firebase.auth().signOut().then(function () {
                            // Successfully signed out.
                            document.cookie = "aff_t=";
                        }).catch(function (error) {
                            // An error happened.
                        });
                        window.location.reload(true); // refresh page
                    }
                }
            }
        })
    </script>
}

