
@{
    ViewData["Title"] = "Register";
}

@section styles {
    <style>
        p {
            color: blue;
        }
    </style>
}

<h1>Register</h1>
<p> {{ message }}</p>
<form id="register-form">
    <input type="email" name="email" required="required" placeholder="Email" /><br />
    <input type="text" name="password" required="required" placeholder="Password" /><br />
    <input type="text" name="password" required="required" placeholder="Confirm Password" /><br />
    <input type="submit" value="Sign Up" />
</form>

@section scripts {
    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!'
            }
        })
    </script>
}
