
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<form id="register-form">
    <input type="email" name="email" required="required" placeholder="Email" /><br />
    <input type="text" name="password" required="required" placeholder="Password" /><br />
    <input type="text" name="password" required="required" placeholder="Confirm Password" /><br />
    <input type="submit" value="Sign Up" />
</form>