@model IEnumerable<GraphIDName>
@{
    ViewData["Title"] = "Your Graphs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{

    <style>
        .graphs {
            padding: 10vh 2rem 30vh 2rem;
            width: 80%;
            margin: 0 auto;
        }

        .graphLink {
            display: inline-block;
            max-width: 20%;
            min-width: 15%;
            margin-right: 1rem;
            margin-left: 1rem;
            margin-bottom: 2rem;
            height: 150px;
            background: orangered;
            text-decoration: none;
            text-align: center;
            padding: 2rem 0 0 0;
            font-weight: bold;
            color: #efefef;
            background: linear-gradient(180deg, #00d2ff 0%, #3a47d5 80%);
            filter: grayscale(50%);
            transition-duration: .25s;
            transition-property: filter, transform;
            transition-timing-function: ease-in-out;
        }

            .graphLink:hover {
                filter: grayscale(0%);
                transform: translateY(-2px);
            }
    </style>

}

<section class="graphs">
    @foreach (var graph in Model)
    {<a class="graphLink" href="graph/@graph.GraphID">
        @if(@graph.Name == null)
        {
            @graph.GraphID;
        }
        else
        {
            @graph.Name;
        }
    </a>}
</section>


@section scripts {
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script type="text/javascript" src="https://www.gstatic.com/firebasejs/6.6.2/firebase-app.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/firebasejs/6.6.1/firebase-auth.js"></script>
    <script type="text/javascript" src="~/js/FIREBASE_CONFIG.js"></script>
    <script type="text/javascript" src="~/js/firebase.js"></script>
    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                user: false
            },
            created: function () {
                // Store user
                firebase.auth().onAuthStateChanged(user => {
                    this.user = user;
                });
            },
            methods: {
                signOut: function (event) {
                    if (this.user) {
                        firebase.auth().signOut().then(function () {
                            // Successfully signed out.
                            document.cookie = "aff_t=; Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                        }).catch(function (error) {
                            // An error happened.
                        });
                        window.location.reload(true); // refresh page
                    }
                }
            }
        })
    </script>
}
