@{
    ViewData["Title"] = "New Graph";
}

@section styles {
    <style>
        #mynetwork {
            border: 1px solid lightgray;
            width: 80%;
            height: 60vh;
            margin: 0 auto;
        }

        #eventSpan {
            display: block;
            margin-bottom: 1rem;
        }
    </style>
}

<h1>Graph</h1>



<h2 v-if="state=='delete'">You're deleting.</h2>
<h2 v-else-if="state=='drawNodes' || state=='drawEdges'">You're drawing {{state=="drawNodes" ? "nodes" : "edges"}}.</h2>
<h2 v-else>You're in select {{state=="select" ? "" : "multiple"}} mode.</h2>
<button v-on:click="changeMode('drawNodes')">Draw Nodes</button>
<button v-on:click="changeMode('drawEdges')">Draw Edges</button>
<button v-on:click="changeMode('delete')">Delete</button>
<button v-on:click="changeMode('select')">Select</button>
<button v-on:click="changeMode('selectMultiple')">Select Multiple</button>
<button v-on:click="undo()">Undo</button>
<button v-on:click="redo()">Redo</button>
<div class="color-picker"></div>


<div class="graph">
    <div id="mynetwork"></div>
    <span id="eventSpan"></span>
</div>


@section scripts {
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script type="text/javascript" src="https://www.gstatic.com/firebasejs/6.6.2/firebase-app.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/firebasejs/6.6.1/firebase-auth.js"></script>
    <script type="text/javascript" src="~/js/vis-network.js"></script>
    <script type="text/javascript" src="~/js/FIREBASE_CONFIG.js"></script>
    <script type="text/javascript" src="~/js/firebase.js"></script>
    <script type="text/javascript" src="~/js/pickr.min.js"></script>
    <script type="text/javascript">

        const NODES = [];

        const EDGES = [];

        function getGraphData() {
            var url = window.location.pathname;
            url = url.split('/');
            var token = url[url.length - 1];
            console.log(token);
            $.ajax({
                type: "GET",
                url: "/api/graphData/" + token,
                cache: false,
                async: false,
                success: function (data) {
                    var result = jQuery.parseJSON(data);
                    $.each(result, function (key, value) {
                        $.each(value, function (key2, value) {
                            var argb = (value.Color >>> 0).toString(16);
                            var rgba = '#' + argb.slice(2, 9) + argb[0] + argb[1];
                            if (key === "Vertices") {
                                NODES.push({ id: value.ID, x: value.XPos, y: value.YPos, color: rgba, name: value.Name })
                            } else {
                                EDGES.push({ id: value.DBID, first: value.First, second: value.Second, direction: value.Direction, color: rgba, weight: value.Weight })
                            }
                        });
                    });
                }
            });

            return getVisDataSet();
        }

    </script>

    <script>
        // Snapshot Model
        const ACTION_ADD_VERTEX = "0";
        const ACTION_ADD_EDGE = "1";

        const ACTION_DELETE_VERTEX = "2";
        const ACTION_DELETE_VERTEX_N_EDGE = "3";
        const ACTION_DELETE_EDGE = "4";

        const SNAPSHOT = {
            0: []
        }
        const REDO_STACK = [];
        let CURRENT_SNAPSHOT = 0;

        function addNodeAction(vertexId) {
            SNAPSHOT[CURRENT_SNAPSHOT].push({ action: ACTION_ADD_VERTEX, id: vertexId });
        }

        function addEdgeAction(from_, to_) {
            SNAPSHOT[CURRENT_SNAPSHOT].push({
                action: ACTION_ADD_EDGE,
                from: from_,
                to: to_
            });
        }

        function deleteNodeAction(vertexId) {
            SNAPSHOT[CURRENT_SNAPSHOT].push({ action: ACTION_DELETE_VERTEX, id: vertexId });
        }

        function deleteNodeEdgeAction(vertexId, connectedEdges) {
            SNAPSHOT[CURRENT_SNAPSHOT].push({
                action: ACTION_DELETE_VERTEX_N_EDGE,
                id: vertexId,
                from: vertexId,
                to: connectedEdges
            });
        }

        function deleteEdgeAction(from_, to_) {
            SNAPSHOT[CURRENT_SNAPSHOT].push({
                action: ACTION_DELETE_EDGE,
                from: from_,
                to: to_
            });
        }

        function undoLastAction(drawNodes) {
            if (SNAPSHOT[CURRENT_SNAPSHOT].length > 0) {
                const lastAction = SNAPSHOT[CURRENT_SNAPSHOT].pop();

                switch (lastAction.action) {
                    case ACTION_ADD_VERTEX:
                        NETWORK.storePositions();
                        vertex = VIS_NODES.get(lastAction.id);
                        lastAction.x = vertex.x;
                        lastAction.y = vertex.y;
                        VIS_NODES.remove(lastAction.id);
                        break;
                }

                REDO_STACK.push(lastAction);
                if (drawNodes) {
                    NETWORK.addNodeMode();
                } else {
                    NETWORK.addEdgeMode();
                }
            }
        }

        function redoLastAction(drawNodes) {
            if (REDO_STACK.length > 0) {
                const lastAction = REDO_STACK.pop();
                switch (lastAction.action) {
                    case ACTION_ADD_VERTEX:
                        VIS_NODES.add({ id: lastAction.id, label: "", x: lastAction.x, y: lastAction.y });
                        addNodeAction(lastAction.id);
                        break;
                }
                if (drawNodes) {
                    NETWORK.addNodeMode();
                } else {
                    NETWORK.addEdgeMode();
                }
            }
        }
    </script>
    <script type="text/javascript">
        let NETWORK;
        let VIS_NODES, VIS_EDGES;
        function getVisDataSet() {

            // Convert our DB data to vis data.
            const nodes = [], edges = [];

            for (node of NODES) {
                console.log(node.color);
                nodes.push({
                    id: node.id, label: node.name, x: node.x, y: node.y,
                    color: node.color, font: { color: '#FFFFFF' }
                });
            }

            for (edge of EDGES) {
                edges.push({
                    from: edge.first, to: edge.second, color: edge.color,
                    arrows: { to: edge.direction === 2, from: edge.direction === 1, enabled: edge.direction !== 0 },
                    label: edge.weight.toString(), font: { align: 'top' }
                });
            }

            VIS_NODES = new vis.DataSet(nodes);
            VIS_EDGES = new vis.DataSet(edges);

            console.log(VIS_NODES);
            console.log(VIS_EDGES);

            return {
                nodes: VIS_NODES,
                edges: VIS_EDGES
            };
        }

        var app = new Vue({
            el: '#app',
            data: {
                user: false,
                state: "drawNodes"
            },
            mounted: function () {
                const options = {
                    autoResize: true,
                    height: "100%",
                    width: "100%",
                    interaction: { hover: true },
                    "nodes": {
                        "physics": false
                    },
                    physics: {
                        barnesHut: {
                            gravitationalConstant: 0,
                            centralGravity: 0,
                            springConstant: 0,
                        }
                    },
                    edges: {
                        smooth: false
                    },
                    manipulation: {
                        enabled: true,
                        addNode: function (data, callback) {
                            callback(data);
                            addNodeAction(data.id);
                            NETWORK.addNodeMode();
                        },
                        addEdge: function (data, callback) {
                            if (data.from == data.to) {
                                if (confirm("Do you want to connect the node to itself?")) {
                                    callback(data);
                                }
                            }
                            else {
                                callback(data);
                            }
                            addEdgeAction(data.from, data.to);
                            NETWORK.addEdgeMode();
                        },
                        deleteNode: function (data, callback) {
                            if (NETWORK.getConnectedEdges(data.id) != null) {
                                deleteNodeEdgeAction(data.id, NETWORK.getConnectedEdges(data.id));
                            }
                            else {
                                deleteNodeAction(data.id);
                            }
                            callback(data);
                        },
                        deleteEdge: function (data, callback) {
                            deleteEdgeAction(data.from, data.to);
                            callback(data);
                        }

                    }
                };

                NETWORK = new vis.Network(document.getElementById('mynetwork'), getGraphData(), options);
                NETWORK.addNodeMode();
            },
            created: function () {
                // When user logs in, store it in this Vue app's data.
                // Add cookie storing user token.
                firebase.auth().onAuthStateChanged(user => {
                    if (user) {
                        this.user = user;
                        user.getIdToken().then(function (idToken) {
                            document.cookie = "aff_t=" + idToken;
                        });
                    }
                    // Reset user
                    else {
                        this.user = user;
                        document.cookie = "aff_t=";
                    }
                });
            },
            methods: {
                undo: function (event) {
                    undoLastAction(this.drawNodes);
                },
                redo: function (event) {
                    redoLastAction(this.drawNodes);
                },
                changeMode: function (newMode) {
                    if (this.state == newMode) {
                        //clicked on same button, exit mode or do nothing?
                    }
                    else {
                        if (this.state == "delete" || this.state == "select" || this.state == "selectMultiple") {
                            NETWORK.off('click');
                        }
                        this.state = newMode;
                        if (newMode == "drawNodes") {
                            NETWORK.addNodeMode();
                        }
                        else if (newMode == "drawEdges") {
                            NETWORK.addEdgeMode();
                        }
                        else if (newMode == "delete") {
                            NETWORK.disableEditMode();
                            NETWORK.on('click', function () {
                                NETWORK.deleteSelected();
                            });
                        }
                        else if (newMode == "select") {
                            NETWORK.disableEditMode();
                            NETWORK.on('click', function (properties) {
                                if (NETWORK.getSelectedNodes().length != 0) {
                                    NETWORK.selectNodes(NETWORK.getSelectedNodes(), false);
                                }

                                //Get the node that we have clicked on
                                var node = properties.nodes;
                                //Get the edge that we have clicked on
                                var edge = properties.edges;

                                //If we hit a node else we hit an edge or nothing
                                if (node.length != 0) {
                                    var newLabel = prompt("Please enter the new label name");

                                    var updateNode = VIS_NODES.get(node)[0];

                                    updateNode.label = newLabel;
                                    updateNode.color = pickr.getColor().toHEXA().toString();

                                    VIS_NODES.update(updateNode);

                                } else if (edge.length != 0) {
                                    var newLabel = prompt("Please enter the new weight");

                                    var updateEdge = VIS_EDGES.get(edge)[0];

                                    updateEdge.label = newLabel;
                                    updateEdge.color = pickr.getColor().toHEXA().toString();

                                    VIS_EDGES.update(updateEdge);
                                }

                            });
                        }
                        else if (newMode == "selectMultiple") {
                            NETWORK.disableEditMode();
                            NETWORK.unselectAll();
                            var currentNodes = NETWORK.getSelectedNodes();
                            var currentEdges = NETWORK.getSelectedEdges();
                            NETWORK.on('click', function () {
                                if (NETWORK.getSelectedNodes().length == 0 && NETWORK.getSelectedEdges().length == 0) {
                                    NETWORK.unselectAll();
                                    currentNodes = [];
                                    currentEdges = [];
                                }
                                else if (NETWORK.getSelectedNodes().length != 0) {
                                    selectedNode = NETWORK.getSelectedNodes()[0];
                                    var index = currentNodes.indexOf(String(selectedNode));
                                    if (index != -1) {
                                        currentNodes.splice(index, 1);
                                    }
                                    else {
                                        currentNodes.push(String(NETWORK.getSelectedNodes()));
                                    }
                                    NETWORK.setSelection({ nodes: currentNodes, edges: currentEdges }, { unselectAll: true, highlightEdges: false });
                                }
                                else {
                                    selectedEdge = NETWORK.getSelectedEdges()[0];
                                    var index = currentEdges.indexOf(String(selectedEdge));
                                    if (index != -1) {
                                        currentEdges.splice(index, 1);
                                    }
                                    else {
                                        currentEdges.push(String(NETWORK.getSelectedEdges()));
                                    }
                                    NETWORK.setSelection({ nodes: currentNodes, edges: currentEdges }, { unselectAll: true, highlightEdges: false });
                                }
                            });
                        }
                    }
                },
                signOut: function (event) {
                    if (this.user) {
                        firebase.auth().signOut().then(function () {
                            // Successfully signed out.
                            document.cookie = "aff_t=";
                        }).catch(function (error) {
                            // An error happened.
                        });
                        window.location.reload(true); // refresh page
                    }
                }
            }
        });

        const pickr = Pickr.create({
                    el: '.color-picker',
                    theme: 'classic', // or 'monolith', or 'nano'

                    swatches: [
                        'rgba(255, 0, 0, 1)',
                        'rgba(255, 127, 0, 1)',
                        'rgba(255, 255, 0, 1)',
                        'rgba(0, 255, 0, 1)',
                        'rgba(0, 0, 255, 1)',
                        'rgba(75, 0, 130, 1)',
                        'rgba(139, 0, 255, 1)'
                    ],

                    components: {

                        // Main components
                        preview: true,
                        opacity: true,
                        hue: true,

                        // Input / output Options
                        interaction: {
                            hex: true,
                            rgba: true,
                            hsla: true,
                            hsva: true,
                            cmyk: true,
                            input: true,
                            clear: true,
                            save: true
                        }
                    }
                });

    </script>
}
